:root {
    --border-color: #EFF0EF;
    --cell-background: #F5F6F5;
    --active-cell: #2ecc71;
    --cell-selected: #E5E6E5;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 0.8rem;
}

.menu-options {
    height: 50px;
    display: flex;
    align-items: center;
}

.menu-options>div {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
    height: 75%;
}

.menu-options-1>div {
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.menu-options-1>div:hover,
.menu-options-2>div:hover {
    background-color: lightgray;
}

.menu-options-2>div {
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.menu-options-3 select {
    background: var(--cell-background);
    outline: none;
    border-radius: 5px;
    height: 100%;
}
.menu-options-4>div {
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    font-family: calibri light;
    
}
.menu-options-4>div>i {
    font-size: 15px;
}

.formula-tab {
    height: 30px;
    background: #c3c4c3;
    display: flex;
}

#address{
    margin-right: 15px;
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: lightgray;
}

#formula{
    margin: 3px;
    border: none;
    border-radius: 8px;
    width: 200px;
    outline: none;
    padding-left: 5px;
    background: var(--cell-background);
}

.cells {
    /* background: bisque; */
    height: calc(100vh - 110px); /*kyunki sirf cells hi vh pe dependent h to mimize-maximize krne pe sirf cells hi chhoti bdi hogi  */
    overflow: auto;
    position: relative;
    /* isko position di taki saari cells iske acc set ho naki body ke acc*/
}

.sheets {
    background: aliceblue;
    height: 30px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    /* border: 1px solid; */
}

.cell {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border: 1px solid rgba(0,0,0,0.07);
    min-height: 20px;
    min-width: 90px;
    max-width: 70px;
    outline: none;
}

.top-left-cell {
    height: 20px;
    background: darkgray;
    width: 30px;
    position: absolute;
    z-index: 3;
}

.top-row {
    display: flex;
    top: 0px;
    position: absolute;
    left: 30px;
    z-index: 2;
    /* background: white; */
    background: var(--cell-background);
}

.top-row-cell {
    min-width: 90px;
    /* border: 1px solid; */
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    /* text-align: center; */
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col {
    position: absolute;
    top: 20px;
    z-index: 2;
    background: white;
    background: var(--cell-background);
}

.left-col-cell {
    /* border: 1px solid; */
    width: 30px;
    text-align: center;
    height: 20px;
    border-bottom: 1px solid var(--border-color);
}

.all-cells {
    position: absolute;
    top: 20px;
    left: 30px;
}

.add-sheet {
    padding: 10px;
    cursor: pointer;
    color: var(--active-cell);
}

.sheets-list {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid;
}

.sheet {
    /* border: 1px solid; */
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    cursor: pointer;
}

.active-sheet {
    background: white;
}

.active-menu {
    background-color: lightgray;
}


.active-cell {
    border: 1.7px solid var(--active-cell);
    border-radius: 2px;
}

.cell-selected {
    background: #E5E6E5;
    /* background: black; */
}

/*-------- Copyright--------*/
.copyright{
    position: relative;
    top: 14%;
    right: -30%;
    font-style: italic;
    font-size: 17px;
    color: slategray;
}